@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	background-color: #e0e0e0;
}

.parent {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
  	align-items: center;
  	max-width: 720px;
  	padding-top: 20px;
  	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.box {
	background-color: #FFFFFF;
	padding: 40px 60px 40px 40px;
	border-radius: 20px;
	margin: 0;
}

.time {
	margin: 5px 0px 10px 0px;
}

.description {
	font-weight: 300;
}

h1 {
	padding-top: 20px;
}
